<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/modules.css">
</head>

<body>
    <header>
        <h2>BEST BOOKS</h2>
    </header>
    <main>
        <ul>
            <% allBooks.forEach(books =>{ %>
            <li> Books id: <%= books.id %></li>
            <li> Books authors: <%= books.athors %></li>
            <li> Books title: <%= books.title %></li>
            <li> Books ISBN: <%= books.isbn %></li>
            <li> Books image: <%= books.image_url %></li>
            <li> Books Description: <%= books.description_book %></li>
            <li> Books Shelf: <%=  %></li>
            <%})%>
        </ul>
    </main>
</body>

</html>