<form action="<%- 'update' === formAction ? '/update/'+book.id : '/add' %>" method="post">
  <h2><%- 'update' ===formAction ? "Update Book" : "Add a new Book" %></h2>
  <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">
  <input type="hidden" name="id" value="<%=book.id%>">
  <label>Book Title</label>
  <input type="text" value="<%=book.title%>" name="title" placeholder="title">
  <textarea name="description" placeholder="Describe the book" cols="30" rows="10"><%=book.description_book%></textarea>

  <button>Submit</button>
</form>